<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inglés</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Sección de Introducción -->
  <section class="intro-section">
    <ion-card>
      <ion-card-header>
        <ion-card-title>¿Por qué aprender inglés?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        El inglés es un idioma global que se utiliza en negocios, ciencia, tecnología, y cultura popular. Aprender inglés puede abrir puertas a nuevas oportunidades de empleo, comunicación y acceso a información en todo el mundo.
      </ion-card-content>
    </ion-card>
  </section>

  <!-- Sección de Imagen -->
  <section class="image-section">
    <ion-img src="https://th.bing.com/th/id/R.27eb774f8aa0f0b92699d2a86736d586?rik=Qc8q5DQtQara7g&pid=ImgRaw&r=0" alt="Imagen de Inglés" class="responsive-img"></ion-img>
  </section>

  <!-- Sección de Temas -->
  <section class="topics-section">
    <ion-list>
      <ion-item>
        <ion-label>Gramática Básica</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Vocabulario Común</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Pronunciación</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Comprensión Auditiva</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Conversaciones Cotidianas</ion-label>
      </ion-item>
    </ion-list>
  </section>

  <!-- Sección de Recursos -->
  <section class="resources-section">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Recursos Adicionales</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Aquí puedes encontrar recursos para aprender inglés:
        <ul>
          <li><a href="https://www.duolingo.com/" target="_blank">Duolingo - Aprender inglés gratis</a></li>
          <li><a href="https://www.britishcouncil.org/learnenglish" target="_blank">British Council - Cursos de inglés</a></li>
        </ul>
      </ion-card-content>
    </ion-card>
  </section>

  <!-- Sección de Video -->
  <section class="video-section">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Video sobre Ingles</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!-- Nuevo iframe del video -->
        <iframe 
          width="100%" 
          height="315" 
          src="https://www.youtube.com/embed/hFl7w6eaO38?si=r4kuYDzO6WTcCuj5" 
          title="YouTube video player" 
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
          referrerpolicy="strict-origin-when-cross-origin" 
          allowfullscreen>
        </iframe>
      </ion-card-content>
    </ion-card>
  </section>
  

</ion-content>
