/* Sección de Imagen */
.image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .responsive-img {
    width: 60%;  /* Ajusta este valor según el tamaño deseado */
    max-width: 500px; /* Tamaño máximo */
    height: auto;  /* Mantiene la proporción de la imagen */
    border-radius: 10px;
  }
  